
.log-out {
    border-radius: 10px;
    background-color: rgb(236, 242, 242);
    font-size: medium;
}

.login-img {
    height: 35px;
    /* width: auto; */
}

.login {
    border: none;
    background-color: transparent;
}

